@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

/* Atributos gerais */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body{
    background-color: #F7F7F7;
}

#margem_ptudo{
    margin: 0px 40px;
}

/* Barra de navegação */

header{
    background-color: #FEFEFE ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    display: flex;
    padding: 2px 10px;
}

#links_cabecalho{
    display: flex;
    font-weight: 600;
}

.btn_header{
    margin-left: 18px;
}

header nav{
    font-size: 16px;
    color: #414141;
}

header nav ul li{
    text-decoration: none;
    list-style: none;
    
    margin-left: 34px;
}

header nav ul li a{
    text-decoration: none;
}

header nav ul li a:visited{
    color:#414141;
}

#cx_pesquisa{
    display: flex;
    justify-content: flex-start;
    padding: 9px 11px;
    width: 360px;
    height: 34px;
    color: #D7D7D7;
    border: #ECECEC;
    border-radius: 30px;
    background-color: #F4F4F4;
}


#pesquisa{
    border:none;
    width: 100%;
    background-color: transparent;
}

#pesquisa:focus-visible {
    outline: none;
}

/* Meio de página */

/* Carrossel - img */
#img_carrossel{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0px;
}

#img_carrossel img{
    border-radius: 15px;
    margin: 40px;
}

/* cards cestas */

.card_cesta{
    background-color: #FEFEFE;
    height: 550px;
    min-width: 367px;
    max-width: 367px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#cestas_main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card_cesta h2{
    font-family: "Rasa", serif;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.card_cesta li{
    list-style: none;
}

.card_cesta h4{
    text-transform: uppercase;
    color: #6C0345;
    text-align: center;
}

/* estilos dentro card */

.qtd_produtos{
    padding: 18px 15px;
    background-color: #F4F4F4;
    border-color: #EBEBEB;
    border-radius: 9px;
    margin-bottom: 10px;
}

.qtd_pessoas{
    padding: 18px 15px;
    background-color: #F4F4F4;
    border-color: #EBEBEB;
    border-radius: 9px;
    margin-bottom: 10px;
    margin-top: 13px;
}
.prod_peso{
    padding: 18px 15px;
    background-color: #F4F4F4;
    border-color: #EBEBEB;
    border-radius: 9px;
    margin-bottom: 10px;
}
.preço{
    padding: 18px 15px;
    background-color: #F4F4F4;
    border-color: #EBEBEB;
    border-radius: 9px;
    margin-bottom: 10px;
}

.btn_comprar{
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    background-color:#2FBEBB;
    color: #fff;
    padding: 14px 47px ;
    border-radius: 12px;
}

/* Cores cards individuais */
#card1{
    border: 1px solid #DC6B19;
    border-radius: 15px;
}

#card2{
    border: 1px solid #2FBEBB;
    border-radius: 15px;
}

#card3{
    border: 1px solid #91C948;
    border-radius: 15px;
}

#card4{
    border: 1px solid #F092B1;
    border-radius: 15px;
}

#card5{
    border: 1px solid #BA1B4B;
    border-radius: 15px;
}

/* Benefícios */

#beneficios_meio h2{
    font-family: "Rasa", serif;
    font-size: 40px;
    font-weight: 600;
    color: #6C0345;
    margin-top: 30px;
}

.cada_bene{
    max-width: 19.5%;
    border-radius: 6px;
    background-color: #E1A663;
    padding: 10px 18px;
    display: flex;
}

#bene_lista {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.icon_bene{
    min-width: 25%;
    margin-right: 15px;
}

.texto_menor_bene{
    font-size: 15px;

}

#bene_lista p{
    color: #FFF;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    
}

/* Chamada Cesta */

#alimentos_chamada{
     display: flex;
     width: 100%;
}

.box_ali_chamada{
    background-color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 12px;
}  

#chamada_cesta{
    background-color: #C05D14;
    /* aumentar a cor pros lados */
    /* min-width: 100%; */
    padding: 36px;
    display: flex;
    flex-direction: column;
}

#chamada_cesta h2{
    font-family: "Rasa", serif;
    color: #6C0345;
    font-size: 48px;
    text-align: center;
}

#chamada_cesta h4{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/* Ajuda aqui */

#btn_monte_agora{
    text-decoration: none;
    text-transform: uppercase;
    color: #6C0345;
    background-color: #E1A663;
    font-size:32px;
    padding: 15px 47px;
    border-radius: 12px;
    border: none;
    width: 30px;
}

#btn_monte_agora a{
    text-decoration: none;
    font-family: "Rasa", serif;
}

#btn_monte_agora a:visited{
    color: #6C0345;
}

/* Rodapé */
footer{
    background-color: #F8EFE4;
    color: #414141;
}

footer a:visited{
    color: #414141;
}

#footer_menosline{
    display: flex;
    padding: 45px;
}

#footer_slogan{
    font-family: "Radio Canada", sans-serif;
    font-weight: 500;
    color: #C05D14;
    font-size: 13px;
}

#footer_esq{
    width: 60%;
}

.redes_sociais{
    display: flex;
}

.redes_icons{
    width: 30px;
    height: 30px;
}

#footer_dir{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 1%;
}

.div_ft_dir{
    display: flex;
    width: 33%;
}

.div_ft_dir h4{
    font-family: "Rasa", sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 8px;
}

.div_ft_dir li{
    margin-bottom: 10px;
}

#ft_institucional{
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 17px;
}

#ft_ajuda{
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 17px;
}

#ft_sobre{
    font-size: 17px;
}

#ft_sobre p{
    text-align: justify;
}

.links_footer{
    text-decoration: none;
    
}

#footline{
    display: flex;
    justify-content:center;
    padding-bottom: 1%;
}